th,td {
  border: solid 1px; 
  padding: 10px; 
  white-space: nowrap    
}


table {
  border-collapse:  collapse;
  white-space: nowrap 
}

#table2{
  display: flex;
  align-items: flex-start;
  white-space: nowrap
}

#positionTable{
  margin: 100px;
  white-space: nowrap
}

#filterTable{
  margin: 0 100px;
  white-space: nowrap
}

.search1{
  background-color: aqua;
  white-space: nowrap
}

#search2{
  background-color: rgb(138, 242, 176);
}
.search3{
  background-color: rgb(237, 155, 225);
}

#inputCompanyName{
  margin: 0 10px;
  white-space: nowrap
}

#tableSpot{
  display: flex;
  align-items: flex-start;
  white-space: nowrap
}



#tableNotRead{
  display: flex;
  align-items: flex-start;
  white-space: nowrap
}


#filterCompanyNotRead{
  margin: 0 10px;
  white-space: nowrap
}

#search1NotRead{
  background-color: aqua;
}

#search2NotRead{
  background-color:rgb(171, 235, 209);
}
#search3NotRead{
  background-color: rgb(237, 155, 225);
}
#search{
  background-color: rgb(239, 133, 142);
}
#viewer{
  background-color: rgb(171, 235, 209);
}


#inputCompanyNameNotRead{
  margin: 0 10px;
  white-space: nowrap
}

#filterTableNotRead{
  margin: 0 100px;
  white-space: nowrap
}

.tableCompanyName{
  text-align: center
  
}

body{
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:40px 0px; */
  font-size: 20px;
  white-space: nowrap
}

#makeArray{
  font-size: 20px;
}

#surveyAnalysis{
  font-size: 20px;
}

#delete{
  font-size: 20px;
}

#allReader{
  font-size: 20px;
}
#代{
  font-size: 20px;
}
#営{
  font-size: 20px;
}
#管{
  font-size: 20px;
}
#新{
  font-size: 20px;
}
#サ担{
  font-size: 20px;
}
#人労{
  font-size: 20px;
}
#allReaderNotDisplay{
  font-size: 20px;
}
#reload{
  font-size: 20px;
}

#tablePosition{
  display: flex;
  margin:40px 0px;
  flex-direction: row;
  justify-content: space-around;
  font-size: 25px;
}


#inputbox{
width: 600px;
height: 50px;
font-size: 20px;
}


#inputboxSurvey{
width: 600px;
height: 50px;
font-size: 20px;
}

#example{
font-size: 20px;
background-color: orange
}

#exampleSurvey{
font-size: 20px;
border : solid 8px dodgerblue
}

  
