th,td {
  border: solid 1px; 
  padding: 10px;     
}


table {
  border-collapse:  collapse; 
}

#table2{
  display: flex;
  align-items: flex-start;
}

#positionTable{
  margin: 100px;
}

#filterTable{
  margin: 0 100px;
}

#search1{
  background-color: aqua;
}

#search2{
  background-color: rgb(138, 242, 176);
}
#search3{
  background-color: rgb(237, 155, 225);
}

#inputCompanyName{
  margin: 0 10px;
}

#tableSpot{
  display: flex;
  align-items: flex-start;
}



#tableNotRead{
  display: flex;
  align-items: flex-start;
}

#filterCompanyNotRead{
  margin: 0 10px;
}

#search1NotRead{
  background-color: aqua;
}

#search2NotRead{
  background-color: rgb(138, 242, 176);
}
#search3NotRead{
  background-color: rgb(237, 155, 225);
}

#inputCompanyNameNotRead{
  margin: 0 10px;
}

#filterTableNotRead{
  margin: 0 100px;
}

.tableCompanyName{
  text-align: center
}

body{
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:40px 0px; */
  font-size: 20px;
}

#makeArray{
  font-size: 20px;
}
#delete{
  font-size: 20px;
}

#allReader{
  font-size: 20px;
}
#代{
  font-size: 20px;
}
#営{
  font-size: 20px;
}
#管{
  font-size: 20px;
}
#新{
  font-size: 20px;
}
#サ{
  font-size: 20px;
}
#人労{
  font-size: 20px;
}

#tablePosition{
  display: flex;
  margin:40px 0px;
  flex-direction: row;
  justify-content: space-around;
  font-size: 25px;
}

/* .displayOrHidden{
  display: flex;
} */
